body{
    background-image: url(as.jpg);
    background-size: cover;
    background-attachment: fixed;
}
 .first{
    background-attachment: fixed;
    display: inline-block;    
    background-color: rgba(0, 120, 0,0.7);
    height: 50px;
}
.home{
    display: inline;
    margin: auto; 
    color: white;
    padding:10px;     
}
.list{
    display: inline-block;   
    color:white;
}
.text{
    display: inline-block;
    width: 500px;   
    padding-bottom:10px ;     
}

.tralala{
    display: inline-block;
    width: 600px;             
    height:0px;  
    color: white;       
}
div.div2{
    background-color: rgba(0, 120, 0,0.3);   
}
.color{
    display: inline-block;
    padding:2px;
    width: 1254px; 
    color:white;  
          
}
.white{
    display: inline-block;   
    color:white;
    background-color: rgba(219, 233, 219, 0.3);
}
.plus{
    display: inline-block;   
    color:white;
}
.user{
    display: inline-block;   
    color:white;
}
/*flex box*/
ul{
    display:inline;
}
ul li{
    margin: 40px;
    position: relative; top: 70px;
    background-color: rgba(225, 225, 225,0);
    display:inline-block;
}

.flex-container{
    background-color:rgba(225, 225, 225,0.8);
    display: flex;
    flex-direction: column;
    padding-top:60px;
    width: 20%;
    height:250px;
    margin-left: 10px;

}
.flex-container>div{
    width: 200px;
    text-align: center;
    background-color: white;
    padding:10px 10px 10px 30px ;
    color: black;
    font-size: 20px;
    margin: 10px;
    height: 30px;
}
.plus2{
    padding: 20px;
    position: relative; top: -30px ;
    background-color: rgba(225, 225, 225,0);
}

/*second box*/

